.button-group.tiny{
    margin-bottom:0;
}

table .button, .tiny .button{
    padding:0.25em 1em;
}
.input-group-button > .button.full
{
    width:100%;
    padding:0.5rem 0;
}

#taskInputField{
    height:150px;
    margin-bottom:0;
}
.filter{
    margin-bottom:1rem !important;
}
.filter .button.active{
    background-color:#3adb76;
}
.filter .button.inactive{
    background-color:#777;
    color:#e5e5e5;
}
.search input[type=text]{
    height:1.75em;

}
.search input[type=submit]{
    padding: 0.4em 0.5em;

}

select{
    height: 1.75em;
    font-size: 0.75em;
    padding: 0 0.25em;
    width: 4em;
}
.right{
    float:right !important;
}
.markDone{
    color:#777;
    text-decoration:line-through;
}